<!doctype html>
<html>
    <head>
        <title>Upload new File</title>
    </head>
    <body>
        <h1>Upload New Video</h1>
        <form action="" method=post enctype=multipart/form-data>
<!--           <p><input type=file name=file1> -->

            <label for="title">Title</label>
            <input type="text" name="title"/>
            <label for="artist">Artist</label>
            <input type="text" name="artist"/> </br

          
          <p><input type=file name=file2>


             <input type=submit value=Upload>
        </form>
    </body>
</html>

